#skills {
  background-color: rgb(27, 54, 123);
  box-shadow: inset 0px 50px 40px rgba(1, 1, 0, 0.117);
}

#skills img { 
  width: 10%;
}

#skills h6 {
  border-bottom: 0;
  margin: 0;
}

.skills-category {
  color: rgb(89, 116, 255);
}

.creative img {
  padding: 100px;
}
