#about {
    padding-top: 100px;
    color: black;
}

.about-portrait {
  border-radius: 10px;
  padding-top: 2px;
  width: 175px;
  height: auto;
}

// circles 

.profile-card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    padding-bottom: 25px;
    &:hover {
        transform: scale(1.04) rotate(1deg);
      }
  }
  
  .card-inner {
    cursor: zoom-in;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .profile-circle {
    animation: move-up1 2s ease-in infinite alternate-reverse;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
  }

  .profile-circle:nth-child(1) {
    background: radial-gradient(#b0e633, #53ef7d);
    top: -25px;
    left: -25px;
  }
 
  .profile-circle:nth-child(2) {
    background: radial-gradient(#d85300, #ff7e30);
    width: 75px;
    height: 75px;
    bottom: -25px;
    right: -25px;
    animation-name: move-down2;
  }

  @keyframes move-up1 {
    to {
      transform: translateY(-10px);
    }
  }
  
@keyframes move-down2 {
    to {
        transform: translateY(10px);
        }
    }
