@use './index.scss';

// Layouts
@use '../layout/Footer/footer';
@use '../layout/NavMenu/navmenu';
@use '../layout/About/about';
@use '../layout/Hero/hero';
@use '../layout/3Things/threethings';

// Misc
@use './Button.scss';
@use './Fonts.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


.sub-header {
  font-size: 50px;
}

.each-element-container {
  border-top: 10px solid;
  border-color: #e4d5e6;
}
