.button-style {
  color: #000;
  font-weight: 700;
  background-image: linear-gradient(72deg, var(--color-highlight-neon), var(--color-highlight-base));
  border: 3px solid var(--color-highlight-neon);
}

.button-effect {
  display: block;
  transform: scale(1.0);
  transition: transform 0.23s ease-in-out;
}

.button-effect:hover {
  transform: scale(1.13);
  filter: drop-shadow(0 0 20px rgba(0, 5, 9, 0.919));
  z-index: 999;
}
