.navbar {

    & img {
        width: 50px;
        }
}

a.nav-link {
    display: flex;
    justify-content: space-around;
}

navbar-toggler {
    border: 10px solid gray;
}

.navbar-nav {
    background-color: rgb(73, 73, 73);
    border-radius: 15px;
    padding: 10px;
}
