footer {
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border-top: rgb(255, 255, 255) 25px solid;
}

.footer-icons {
    & svg {
        background-color: black;
        color: rgb(255, 255, 255);
    }
    & svg:hover {
        transition: 0.5s;
        color: rgb(30, 0, 121);
    }

}